/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    background: gold;
  }
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* 
  Starting CSS declaration
  */

 

  h1 {    
    text-align: center;    
    margin-top: 16px;
  }

  .game-info {   
    display: grid;
    place-content: center;    
    height: 10vh;
  }

  .info-section {
    width: 10vw;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    
  }

  .player-container {
    display: flex;
    justify-content: space-evenly;
    height: 20vh;
  }

  
  .player-section {
    display: flex;
    gap: 8px;
    margin: 8px;
  }

  .name {
    width: 3em;
  }

  #playerOneLight,
  #playerTwoLight {
    width: 24px;
    height: 24px;
    border-radius: 12px;
  }

  .board-container {
    height: 40vh;
    display: flex;
    place-content: center;   
  }

  .game-board {
    width: 210px;
    height: 210px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }


  .footer {
    display: flex;
    justify-content: space-evenly;
    
  }

  button {
    width: 100px;
  }